<h2>{{$ctrl.customer.name}}</h2>

<dl>
    <dt>Code:</dt>
    <dd>{{$ctrl.customer.code}}</dd>
    <dt>Location:</dt>
    <dd>{{$ctrl.customer.location}}</dd>
    <dt>Registration date:</dt>
    <dd>{{$ctrl.customer.registrationDate|date: "fullDate"}}</dd>
    <dt>Is Active?</dt>
    <dd>{{$ctrl.customer.active}}</dd>
</dl>

<h3>Orders</h3>
<div ng-if="$ctrl.customer.orders.length == 0">
    <p>No orders yet</p>
</div>
<ul>
    <li ng-repeat="order in $ctrl.customer.orders">
        <a ng-href="#!/orders/{{order.id}}">{{order.product}}</a><span>{{order.price}} EUR</span>
    </li>
</ul>